<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOperLogSystemMapper">

    <resultMap type="SysOperLogSystem" id="SysOperLogSystemResult">
        <result property="operId"    column="oper_id"    />
        <result property="systemId"    column="system_id"    />
        <result property="systemKey"    column="system_key"    />
        <result property="systemName"    column="system_name"    />
        <result property="titleId"    column="title_id"    />
        <result property="title"    column="title"    />
        <result property="businessType"    column="business_type"    />
        <result property="method"    column="method"    />
        <result property="requestMethod"    column="request_method"    />
        <result property="operatorType"    column="operator_type"    />
        <result property="operNameId"    column="oper_name_id"    />
        <result property="operName"    column="oper_name"    />
        <result property="deptId"    column="dept_id"    />
        <result property="deptName"    column="dept_name"    />
        <result property="operUrl"    column="oper_url"    />
        <result property="operIp"    column="oper_ip"    />
        <result property="operLocation"    column="oper_location"    />
        <result property="operParam"    column="oper_param"    />
        <result property="jsonResult"    column="json_result"    />
        <result property="status"    column="status"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="operTime"    column="oper_time"    />
        <result property="costTime"    column="cost_time"    />
    </resultMap>

    <sql id="selectSysOperLogSystemVo">
        select oper_id, system_id, system_key, system_name, title_id, title, business_type, method, request_method, operator_type, oper_name_id, oper_name, dept_id, dept_name, oper_url, oper_ip, oper_location, oper_param, json_result, status, error_msg, oper_time, cost_time from sys_oper_log_system
    </sql>

    <select id="selectSysOperLogSystemList" parameterType="SysOperLogSystem" resultMap="SysOperLogSystemResult">
        <include refid="selectSysOperLogSystemVo"/>
        <where>
            <if test="systemId != null "> and system_id = #{systemId}</if>
            <if test="systemKey != null  and systemKey != ''"> and system_key = #{systemKey}</if>
            <if test="systemName != null  and systemName != ''"> and system_name like concat('%', #{systemName}, '%')</if>
            <if test="titleId != null "> and title_id = #{titleId}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="businessType != null "> and business_type = #{businessType}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
            <if test="requestMethod != null  and requestMethod != ''"> and request_method = #{requestMethod}</if>
            <if test="operatorType != null "> and operator_type = #{operatorType}</if>
            <if test="operNameId != null "> and oper_name_id = #{operNameId}</if>
            <if test="operName != null  and operName != ''"> and oper_name like concat('%', #{operName}, '%')</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="operUrl != null  and operUrl != ''"> and oper_url = #{operUrl}</if>
            <if test="operIp != null  and operIp != ''"> and oper_ip = #{operIp}</if>
            <if test="operLocation != null  and operLocation != ''"> and oper_location = #{operLocation}</if>
            <if test="operParam != null  and operParam != ''"> and oper_param = #{operParam}</if>
            <if test="jsonResult != null  and jsonResult != ''"> and json_result = #{jsonResult}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="errorMsg != null  and errorMsg != ''"> and error_msg = #{errorMsg}</if>
            <if test="operTime != null "> and oper_time = #{operTime}</if>
            <if test="costTime != null "> and cost_time = #{costTime}</if>
        </where>
    </select>

    <select id="selectSysOperLogSystemByOperId" parameterType="Long" resultMap="SysOperLogSystemResult">
        <include refid="selectSysOperLogSystemVo"/>
        where oper_id = #{operId}
    </select>

    <insert id="insertSysOperLogSystem" parameterType="SysOperLogSystem" useGeneratedKeys="true" keyProperty="operId">
        insert into sys_oper_log_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemId != null">system_id,</if>
            <if test="systemKey != null">system_key,</if>
            <if test="systemName != null">system_name,</if>
            <if test="titleId != null">title_id,</if>
            <if test="title != null">title,</if>
            <if test="businessType != null">business_type,</if>
            <if test="method != null">method,</if>
            <if test="requestMethod != null">request_method,</if>
            <if test="operatorType != null">operator_type,</if>
            <if test="operNameId != null">oper_name_id,</if>
            <if test="operName != null">oper_name,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="operUrl != null">oper_url,</if>
            <if test="operIp != null">oper_ip,</if>
            <if test="operLocation != null">oper_location,</if>
            <if test="operParam != null">oper_param,</if>
            <if test="jsonResult != null">json_result,</if>
            <if test="status != null">status,</if>
            <if test="errorMsg != null">error_msg,</if>
            <if test="operTime != null">oper_time,</if>
            <if test="costTime != null">cost_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemId != null">#{systemId},</if>
            <if test="systemKey != null">#{systemKey},</if>
            <if test="systemName != null">#{systemName},</if>
            <if test="titleId != null">#{titleId},</if>
            <if test="title != null">#{title},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="method != null">#{method},</if>
            <if test="requestMethod != null">#{requestMethod},</if>
            <if test="operatorType != null">#{operatorType},</if>
            <if test="operNameId != null">#{operNameId},</if>
            <if test="operName != null">#{operName},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="operUrl != null">#{operUrl},</if>
            <if test="operIp != null">#{operIp},</if>
            <if test="operLocation != null">#{operLocation},</if>
            <if test="operParam != null">#{operParam},</if>
            <if test="jsonResult != null">#{jsonResult},</if>
            <if test="status != null">#{status},</if>
            <if test="errorMsg != null">#{errorMsg},</if>
            <if test="operTime != null">#{operTime},</if>
            <if test="costTime != null">#{costTime},</if>
        </trim>
    </insert>

    <update id="updateSysOperLogSystem" parameterType="SysOperLogSystem">
        update sys_oper_log_system
        <trim prefix="SET" suffixOverrides=",">
            <if test="systemId != null">system_id = #{systemId},</if>
            <if test="systemKey != null">system_key = #{systemKey},</if>
            <if test="systemName != null">system_name = #{systemName},</if>
            <if test="titleId != null">title_id = #{titleId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="method != null">method = #{method},</if>
            <if test="requestMethod != null">request_method = #{requestMethod},</if>
            <if test="operatorType != null">operator_type = #{operatorType},</if>
            <if test="operNameId != null">oper_name_id = #{operNameId},</if>
            <if test="operName != null">oper_name = #{operName},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="operUrl != null">oper_url = #{operUrl},</if>
            <if test="operIp != null">oper_ip = #{operIp},</if>
            <if test="operLocation != null">oper_location = #{operLocation},</if>
            <if test="operParam != null">oper_param = #{operParam},</if>
            <if test="jsonResult != null">json_result = #{jsonResult},</if>
            <if test="status != null">status = #{status},</if>
            <if test="errorMsg != null">error_msg = #{errorMsg},</if>
            <if test="operTime != null">oper_time = #{operTime},</if>
            <if test="costTime != null">cost_time = #{costTime},</if>
        </trim>
        where oper_id = #{operId}
    </update>

    <delete id="deleteSysOperLogSystemByOperId" parameterType="Long">
        delete from sys_oper_log_system where oper_id = #{operId}
    </delete>

    <delete id="deleteSysOperLogSystemByOperIds" parameterType="String">
        delete from sys_oper_log_system where oper_id in
        <foreach item="operId" collection="array" open="(" separator="," close=")">
            #{operId}
        </foreach>
    </delete>
</mapper>