<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TBasUserPutInfoMapper">
    
    <resultMap type="TBasUserPutInfo" id="TBasUserPutInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="loginName"    column="login_name"    />
        <result property="monitorPointType"    column="monitor_point_type"    />
        <result property="entCode"    column="ent_code"    />
        <result property="entName"    column="ent_name"    />
        <result property="outPutId"    column="out_put_id"    />
        <result property="outPutCode"    column="out_put_code"    />
        <result property="outPutName"    column="out_put_name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>
    <!-- 查询废气排口信息 -->
    <select id="selectTBasGasoutPutInfo" parameterType="Long" resultType="java.util.Map">
        select * from t_bas_gasout_put_info
        where id = #{id}
    </select>
    <!-- 查询废水排口信息 -->
    <select id="selectTBasWaterPutInfo" parameterType="Long" resultType="java.util.Map">
        select * from t_bas_waterout_put_info
        where id = #{id}
    </select>




    <sql id="selectTBasUserPutInfoVo">
        select id, user_id, login_name, monitor_point_type, ent_code, ent_name,out_put_id, out_put_code, out_put_name, create_time from t_bas_user_put_info
    </sql>

    <select id="selectTBasUserPutInfoList" parameterType="TBasUserPutInfo" resultMap="TBasUserPutInfoResult">
        <include refid="selectTBasUserPutInfoVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="loginName != null  and loginName != ''"> and login_name like concat('%', #{loginName}, '%')</if>
            <if test="monitorPointType != null  and monitorPointType != ''"> and monitor_point_type = #{monitorPointType}</if>
            <if test="entCode != null  and entCode != ''"> and ent_code = #{entCode}</if>
            <if test="entName != null  and entName != ''"> and ent_name like concat('%', #{entName}, '%')</if>
            <if test="outPutId != null  and outPutId != ''"> and out_put_id = #{outPutId}</if>
            <if test="outPutCode != null  and outPutCode != ''"> and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''"> and out_put_name like concat('%', #{outPutName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTBasUserPutInfoById" parameterType="Long" resultMap="TBasUserPutInfoResult">
        <include refid="selectTBasUserPutInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertTBasUserPutInfo" parameterType="TBasUserPutInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_bas_user_put_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="loginName != null">login_name,</if>
            <if test="monitorPointType != null">monitor_point_type,</if>
            <if test="entCode != null">ent_code,</if>
            <if test="entName != null">ent_name,</if>
            <if test="outPutId != null">out_put_id,</if>
            <if test="outPutCode != null">out_put_code,</if>
            <if test="outPutName != null">out_put_name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="loginName != null">#{loginName},</if>
            <if test="monitorPointType != null">#{monitorPointType},</if>
            <if test="entCode != null">#{entCode},</if>
            <if test="entName != null">#{entName},</if>
            <if test="outPutId != null">#{outPutId},</if>
            <if test="outPutCode != null">#{outPutCode},</if>
            <if test="outPutName != null">#{outPutName},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTBasUserPutInfo" parameterType="TBasUserPutInfo">
        update t_bas_user_put_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="loginName != null">login_name = #{loginName},</if>
            <if test="monitorPointType != null">monitor_point_type = #{monitorPointType},</if>
            <if test="entCode != null">ent_code = #{entCode},</if>
            <if test="entName != null">ent_name = #{entName},</if>
            <if test="outPutCode != null">out_put_code = #{outPutCode},</if>
            <if test="outPutName != null">out_put_name = #{outPutName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTBasUserPutInfoById" parameterType="Long">
        delete from t_bas_user_put_info where id = #{id}
    </delete>

    <delete id="deleteTBasUserPutInfoByIds" parameterType="String">
        delete from t_bas_user_put_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>