<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.coordination.clue.mapper.BClueInfoTaskMapper">
    
    <resultMap type="BClueInfoTask" id="BClueInfoTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="taskName"    column="task_name"    />
        <result property="taskLevel"    column="task_level"    />
        <result property="taskSource"    column="task_source"    />
        <result property="taskType"    column="task_type"    />
        <result property="taskRemindType"    column="task_remind_type"    />
        <result property="taskTimeLimit"    column="task_time_limit"    />
        <result property="taskState"    column="task_state"    />
        <result property="taskAsk"    column="task_ask"    />
        <result property="taskContent"    column="task_content"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="createDeptId"    column="create_dept_id"    />
        <result property="createDeptName"    column="create_dept_name"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <resultMap id="BClueTaskAndReceiveRes" type="BCITaskAndReceive" extends="BClueInfoTaskResult">
        <result property="receiveId" column="receive_id"/>
        <result property="receivePid" column="receive_pid"/>
        <result property="receiveState" column="receive_state"/>
        <result property="urgingState" column="urging_state"/>
        <result property="receiveDeptId" column="receive_dept_id"/>
    </resultMap>

    <sql id="selectBClueInfoTaskVo">
        select task_id, task_name, task_level, task_source, task_type, task_remind_type, task_time_limit, task_state, task_ask, task_content, start_time, end_time, create_dept_id, create_dept_name, create_user_id, create_user_name, create_time, remark from b_clue_info_task
    </sql>

    <select id="selectBClueInfoTaskList" parameterType="BClueInfoTask" resultMap="BClueInfoTaskResult">
        <include refid="selectBClueInfoTaskVo"/>
        <where>  
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="taskLevel != null  and taskLevel != ''"> and task_level = #{taskLevel}</if>
            <if test="taskSource != null  and taskSource != ''"> and task_source = #{taskSource}</if>
            <if test="taskType != null  and taskType != ''"> and task_type = #{taskType}</if>
            <if test="taskRemindType != null  and taskRemindType != ''"> and task_remind_type = #{taskRemindType}</if>
            <if test="taskTimeLimit != null  and taskTimeLimit != ''"> and task_time_limit = #{taskTimeLimit}</if>
            <if test="taskState != null  and taskState != ''"> and task_state = #{taskState}</if>
            <if test="taskAsk != null  and taskAsk != ''"> and task_ask = #{taskAsk}</if>
            <if test="taskContent != null  and taskContent != ''"> and task_content = #{taskContent}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="createDeptId != null "> and create_dept_id = #{createDeptId}</if>
            <if test="createDeptName != null  and createDeptName != ''"> and create_dept_name like concat('%', #{createDeptName}, '%')</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBClueInfoTaskByTaskId" parameterType="Long" resultMap="BClueInfoTaskResult">
        <include refid="selectBClueInfoTaskVo"/>
        where task_id = #{taskId}
    </select>
    <select id="selectBClueInfoTaskToDoList" resultMap="BClueTaskAndReceiveRes">
        SELECT
            bcir.receive_id,
            bcir.urging_state,
            bcir.create_time as issuance_time,
            bcir.disseminate_comments,
            bcit.task_name,
            bcit.create_time,
            bcit.start_time,
            bcit.end_time,
            bcit.task_id,
            bcit.task_source,
            bcit.task_content,
            bcit.create_dept_name,
            bcit.create_user_name,
            bcit.task_ask
        FROM
            b_clue_info_task bcit
                LEFT JOIN b_clue_info_receive bcir ON bcit.task_id = bcir.task_id
        WHERE
            bcir.receive_dept_id = #{receiveDeptId}
        <if test="searchCode == 0">and bcir.receive_state in ('0','1','5')</if>
        <if test="searchCode == 1">and bcir.receive_state in ('2','3','4')</if>
        <if test="taskSource != null  and taskSource != ''"> and bcit.task_source = #{taskSource}</if>
        <if test="startTime != null and endTime != null "> and bcit.start_time between #{startTime} and #{endTime}</if>
        order by bcit.create_time desc
    </select>
    <select id="selectBClueInfoUrgingTaskList" resultMap="BClueTaskAndReceiveRes">
        SELECT
            bcir.receive_id,
            bcir.urging_state,
            bcir.receive_state,
            bcir.create_time as issuance_time,
            bcir.disseminate_comments,
            bcit.task_name,
            bcit.create_time,
            bcit.start_time,
            bcit.end_time,
            bcit.task_source,
            bcit.task_content,
            bcit.create_dept_name,
            bcit.create_user_name,
            bcit.task_ask
        FROM
            b_clue_info_task bcit
                LEFT JOIN b_clue_info_receive bcir ON bcit.task_id = bcir.task_id
        WHERE
            bcit.create_dept_id = #{createDeptId}
        <if test="taskSource != null  and taskSource != ''"> and bcit.task_source = #{taskSource}</if>
        <if test="startTime != null and endTime != null "> and bcit.start_time between #{startTime} and #{endTime}</if>
        order by bcit.create_time desc
    </select>
    <select id="getSourceAnalysis" resultType="java.util.Map">
        SELECT
                count(IF( bcit.task_source = 0, 1, NULL )) AS '空气站' ,
                count(IF(bcit.task_source = 0 &amp;&amp; bcir.receive_state = 4,1,NULL)) AS '空气站办结',
                count(IF(bcit.task_source = 1,1,NULL)) AS '秸秆焚烧',
                count(IF(bcit.task_source = 1 &amp;&amp; bcir.receive_state = 4,1,NULL)) AS '秸秆焚烧办结',
                count(IF(bcit.task_source = 2,1,NULL)) AS '企业在线',
                count(IF(bcit.task_source = 2 &amp;&amp; bcir.receive_state = 4,1,NULL)) AS '企业在线办结',
                count(IF(bcit.task_source = 3,1,NULL)) AS '扬尘监控',
                count(IF(bcit.task_source = 3 &amp;&amp; bcir.receive_state = 4,1,NULL)) AS '扬尘监控办结',
                count(IF(bcit.task_source = 4,1,NULL)) AS '用电量',
                count(IF(bcit.task_source = 4 &amp;&amp; bcir.receive_state = 4,1,NULL)) AS '用电量办结',
                count(IF(bcit.task_source = 5,1,NULL)) AS '巡查问题',
                count(IF(bcit.task_source = 5 &amp;&amp; bcir.receive_state = 5,1,NULL)) AS '巡查问题办结'
        FROM
            b_clue_info_task bcit
                LEFT JOIN b_clue_info_receive bcir ON bcit.task_id = bcir.task_id

        where 1=1
    </select>

    <insert id="insertBClueInfoTask" parameterType="BClueInfoTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into b_clue_info_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null">task_name,</if>
            <if test="taskLevel != null">task_level,</if>
            <if test="taskSource != null">task_source,</if>
            <if test="taskType != null">task_type,</if>
            <if test="taskRemindType != null">task_remind_type,</if>
            <if test="taskTimeLimit != null">task_time_limit,</if>
            <if test="taskState != null">task_state,</if>
            <if test="taskAsk != null">task_ask,</if>
            <if test="taskContent != null">task_content,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createDeptId != null">create_dept_id,</if>
            <if test="createDeptName != null">create_dept_name,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null">#{taskName},</if>
            <if test="taskLevel != null">#{taskLevel},</if>
            <if test="taskSource != null">#{taskSource},</if>
            <if test="taskType != null">#{taskType},</if>
            <if test="taskRemindType != null">#{taskRemindType},</if>
            <if test="taskTimeLimit != null">#{taskTimeLimit},</if>
            <if test="taskState != null">#{taskState},</if>
            <if test="taskAsk != null">#{taskAsk},</if>
            <if test="taskContent != null">#{taskContent},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="createDeptId != null">#{createDeptId},</if>
            <if test="createDeptName != null">#{createDeptName},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBClueInfoTask" parameterType="BClueInfoTask">
        update b_clue_info_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null">task_name = #{taskName},</if>
            <if test="taskLevel != null">task_level = #{taskLevel},</if>
            <if test="taskSource != null">task_source = #{taskSource},</if>
            <if test="taskType != null">task_type = #{taskType},</if>
            <if test="taskRemindType != null">task_remind_type = #{taskRemindType},</if>
            <if test="taskTimeLimit != null">task_time_limit = #{taskTimeLimit},</if>
            <if test="taskState != null">task_state = #{taskState},</if>
            <if test="taskAsk != null">task_ask = #{taskAsk},</if>
            <if test="taskContent != null">task_content = #{taskContent},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="createDeptId != null">create_dept_id = #{createDeptId},</if>
            <if test="createDeptName != null">create_dept_name = #{createDeptName},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteBClueInfoTaskByTaskId" parameterType="Long">
        delete from b_clue_info_task where task_id = #{taskId}
    </delete>

    <delete id="deleteBClueInfoTaskByTaskIds" parameterType="String">
        delete from b_clue_info_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>