<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.coordination.pollution.mapper.BPollutionPreventionRecordMapper">
    
    <resultMap type="BPollutionPreventionRecord" id="BPollutionPreventionRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="receiveId"    column="receive_id"    />
        <result property="taskId"    column="task_id"    />
        <result property="recordNum"    column="record_num"    />
        <result property="recordState"    column="record_state"    />
        <result property="recordContent"    column="record_content"    />
        <result property="createTime"    column="create_time"    />
        <result property="createDeptId"    column="create_dept_id"    />
        <result property="createDeptName"    column="create_dept_name"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="createUserName"    column="create_user_name"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="BPPRecordAndFileRes" type="BPPRecordAndFile" extends="BPollutionPreventionRecordResult">
        <collection property="fileList" javaType="java.util.List" ofType="BPollutionPreventionRecordFile">
            <result property="fileId" column="file_id"/>
            <result property="fileName" column="file_name"/>
            <result property="filePath" column="file_path"/>
            <result property="fileType" column="file_type"/>
        </collection>
    </resultMap>
    <resultMap id="BPPRecordFile" type="BPollutionPreventionRecordFile">
        <result property="fileId" column="file_id"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="fileType" column="file_type"/>
    </resultMap>

    <sql id="selectBPollutionPreventionRecordVo">
        select record_id, receive_id, task_id, record_num, record_state, record_content, create_time, create_dept_id, create_dept_name, create_user_id, create_user_name, remark from b_pollution_prevention_record
    </sql>

    <select id="selectBPollutionPreventionRecordList" parameterType="BPollutionPreventionRecord" resultMap="BPPRecordAndFileRes">
        <!--<include refid="selectBPollutionPreventionRecordVo"/>-->
        select bppr.record_id, bppr.receive_id, bppr.task_id, bppr.record_num, bppr.record_state, bppr.record_content, bppr.create_time,
        bppr.create_dept_id, bppr.create_dept_name, bppr.create_user_id,bppr.create_user_name, bppr.remark,
        bpprf.file_id,bpprf.file_name,bpprf.file_path,bpprf.file_type
        from b_pollution_prevention_record bppr left join b_pollution_prevention_record_file bpprf
        on bppr.record_id = bpprf.record_id
        <where>
            <if test="receiveId != null "> and receive_id = #{receiveId}</if>
            <if test="taskId != null "> and task_id = #{taskId}</if>
            <if test="recordNum != null "> and record_num = #{recordNum}</if>
            <if test="recordState != null  and recordState != ''"> and record_state = #{recordState}</if>
            <if test="recordContent != null  and recordContent != ''"> and record_content = #{recordContent}</if>
            <if test="createDeptId != null "> and create_dept_id = #{createDeptId}</if>
            <if test="createDeptName != null  and createDeptName != ''"> and create_dept_name like concat('%', #{createDeptName}, '%')</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="createUserName != null  and createUserName != ''"> and create_user_name like concat('%', #{createUserName}, '%')</if>
        </where>
    </select>
    
    <select id="selectBPollutionPreventionRecordByRecordId" parameterType="Long" resultMap="BPollutionPreventionRecordResult">
        <include refid="selectBPollutionPreventionRecordVo"/>
        where record_id = #{recordId}
    </select>
    <select id="getMaxRecordNum" resultType="java.lang.Long">
        select count(1) from b_pollution_prevention_record where receive_id = #{receiveId}
    </select>

    <insert id="insertBPollutionPreventionRecord" parameterType="BPollutionPreventionRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into b_pollution_prevention_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="receiveId != null">receive_id,</if>
            <if test="taskId != null">task_id,</if>
            <if test="recordNum != null">record_num,</if>
            <if test="recordState != null">record_state,</if>
            <if test="recordContent != null">record_content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createDeptId != null">create_dept_id,</if>
            <if test="createDeptName != null">create_dept_name,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="createUserName != null">create_user_name,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="receiveId != null">#{receiveId},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="recordNum != null">#{recordNum},</if>
            <if test="recordState != null">#{recordState},</if>
            <if test="recordContent != null">#{recordContent},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createDeptId != null">#{createDeptId},</if>
            <if test="createDeptName != null">#{createDeptName},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="createUserName != null">#{createUserName},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBPollutionPreventionRecord" parameterType="BPollutionPreventionRecord">
        update b_pollution_prevention_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiveId != null">receive_id = #{receiveId},</if>
            <if test="taskId != null">task_id = #{taskId},</if>
            <if test="recordNum != null">record_num = #{recordNum},</if>
            <if test="recordState != null">record_state = #{recordState},</if>
            <if test="recordContent != null">record_content = #{recordContent},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createDeptId != null">create_dept_id = #{createDeptId},</if>
            <if test="createDeptName != null">create_dept_name = #{createDeptName},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="createUserName != null">create_user_name = #{createUserName},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteBPollutionPreventionRecordByRecordId" parameterType="Long">
        delete from b_pollution_prevention_record where record_id = #{recordId}
    </delete>

    <delete id="deleteBPollutionPreventionRecordByRecordIds" parameterType="String">
        delete from b_pollution_prevention_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>