<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.envProt.mapper.EntEnvProtCertMapper">
    
    <resultMap id="entEnvProtCertResult" type="com.ruoyi.business.envProt.domain.EntEnvProtCert">
        <result property="protCertId"    column="prot_cert_id"    />
        <result property="entCode"    column="ent_code"    />
        <result property="protCertName"    column="prot_cert_name"    />
        <result property="issueOffice"    column="issue_office"    />
        <result property="beginDate"    column="begin_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="issueDate"    column="issue_date"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <select id="selectEntEnvProtCertList" parameterType="com.ruoyi.business.envProt.domain.EntEnvProtCertReq"
            resultMap="entEnvProtCertResult">
        select
            c.prot_cert_id, c.ent_code, e.ent_name, c.prot_cert_name, c.issue_office, c.begin_date, c.end_date, c.issue_date, 
            c.create_user, c.create_time, c.update_user, c.update_time
        from t_bas_ent_env_prot_cert c
        left join t_bas_enterprise e on e.ent_code = c.ent_code
        <where>
            <if test="entCode != null and entCode != ''"> and c.ent_code = #{entCode}</if>
            <if test="entName != null and entName != ''"> and e.ent_name like concat('%', #{entName}, '%')</if>
            <if test="protCertName != null and protCertName != ''"> and c.prot_cert_name like concat('%', #{protCertName}, '%')</if>
            <if test="entCodes != null and entCodes.size() > 0"> and c.ent_code in
                <foreach item="code" collection="entCodes" open="(" separator="," close=")">
                    #{code}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertEntEnvProtCert" parameterType="com.ruoyi.business.envProt.domain.EntEnvProtCert">
        insert into t_bas_ent_env_prot_cert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="protCertId != null">prot_cert_id,</if>
            <if test="entCode != null">ent_code,</if>
            <if test="protCertName != null">prot_cert_name,</if>
            <if test="issueOffice != null">issue_office,</if>
            <if test="beginDate != null">begin_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="issueDate != null">issue_date,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="protCertId != null">#{protCertId},</if>
            <if test="entCode != null">#{entCode},</if>
            <if test="protCertName != null">#{protCertName},</if>
            <if test="issueOffice != null">#{issueOffice},</if>
            <if test="beginDate != null">#{beginDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="issueDate != null">#{issueDate},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEntEnvProtCert" parameterType="com.ruoyi.business.envProt.domain.EntEnvProtCert">
        update t_bas_ent_env_prot_cert
        <trim prefix="SET" suffixOverrides=",">
            <if test="protCertName != null">prot_cert_name = #{protCertName},</if>
            <if test="issueOffice != null">issue_office = #{issueOffice},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="issueDate != null">issue_date = #{issueDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where prot_cert_id = #{protCertId}
    </update>

    <delete id="deleteEntEnvProtCertByProtCertIds" parameterType="String">
        delete from t_bas_ent_env_prot_cert where prot_cert_id in 
        <foreach item="protCertId" collection="protCertIds" open="(" separator="," close=")">
            #{protCertId}
        </foreach>
    </delete>
</mapper>