<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.envProt.mapper.OtherCertificateMapper">
    
    <resultMap id="otherCertificateResult" type="com.ruoyi.business.envProt.domain.OtherCertificate">
        <result property="otherId"    column="other_id"    />
        <result property="userId"    column="user_id"    />
        <result property="certName"    column="cert_name"    />
        <result property="issueOffice"    column="issue_office"    />
        <result property="certBelong"    column="cert_belong"    />
        <result property="belongType"    column="belong_type"    />
        <result property="beginDate"    column="begin_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="issueDate"    column="issue_date"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <select id="selectOtherCertificateById" resultMap="otherCertificateResult">
        select other_id, user_id, cert_name, issue_office, cert_belong, belong_type, begin_date, end_date, issue_date, remark
        from t_other_certificate
        where other_id = #{otherId}
    </select>

    <select id="selectOtherCertificateList" parameterType="com.ruoyi.business.envProt.domain.OtherCertificateReq"
            resultMap="otherCertificateResult">
        select other_id, user_id, cert_name, issue_office, cert_belong, belong_type, begin_date, end_date, issue_date, remark
        from t_other_certificate
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="certName != null  and certName != ''"> and cert_name like concat('%', #{certName}, '%')</if>
            <if test="issueOffice != null  and issueOffice != ''"> and issue_office like concat('%', #{issueOffice}, '%')</if>
            <if test="certBelong != null  and certBelong != ''"> and cert_belong like concat('%', #{certBelong}, '%')</if>
            <if test="belongType != null "> and belong_type = #{belongType}</if>
        </where>
    </select>

    <insert id="insertOtherCertificate" parameterType="com.ruoyi.business.envProt.domain.OtherCertificate">
        insert into t_other_certificate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="otherId != null">other_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="certName != null">cert_name,</if>
            <if test="issueOffice != null">issue_office,</if>
            <if test="certBelong != null">cert_belong,</if>
            <if test="belongType != null">belong_type,</if>
            <if test="beginDate != null">begin_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="issueDate != null">issue_date,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="otherId != null">#{otherId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="certName != null">#{certName},</if>
            <if test="issueOffice != null">#{issueOffice},</if>
            <if test="certBelong != null">#{certBelong},</if>
            <if test="belongType != null">#{belongType},</if>
            <if test="beginDate != null">#{beginDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="issueDate != null">#{issueDate},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOtherCertificate" parameterType="com.ruoyi.business.envProt.domain.OtherCertificate">
        update t_other_certificate
        <trim prefix="SET" suffixOverrides=",">
            <if test="certName != null">cert_name = #{certName},</if>
            <if test="issueOffice != null">issue_office = #{issueOffice},</if>
            <if test="certBelong != null">cert_belong = #{certBelong},</if>
            <if test="belongType != null">belong_type = #{belongType},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="issueDate != null">issue_date = #{issueDate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where other_id = #{otherId} and user_id = #{userId}
    </update>

    <delete id="deleteOtherCertificateByIds" parameterType="String">
        delete from t_other_certificate where other_id in 
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>