<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.statistics.mapper.TDataWateroutHourStatisticsMapper">

    <resultMap type="TDataWateroutHourStatistics" id="TDataWateroutHourStatisticsResult">
        <result property="id" column="id"/>
        <result property="entCode" column="ent_code"/>
        <result property="entName" column="ent_name"/>
        <result property="outPutCode" column="out_put_code"/>
        <result property="outPutName" column="out_put_name"/>
        <result property="pollutantCode" column="pollutant_code"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="volumeFlow" column="volume_flow"/>
        <result property="phValue" column="ph_value"/>
        <result property="anAvgValue" column="an_avg_value"/>
        <result property="anEmissions" column="an_emissions"/>
        <result property="codAvgValue" column="cod_avg_value"/>
        <result property="codEmissions" column="cod_emissions"/>
        <result property="noValue" column="no_value"/>
        <result property="noEmissions" column="no_emissions"/>
        <result property="tpValue" column="tp_value"/>
        <result property="tpEmissions" column="tp_emissions"/>
        <result property="tnValue" column="tn_value"/>
        <result property="tnEmissions" column="tn_emissions"/>
    </resultMap>

    <sql id="selectTDataWateroutHourStatisticsVo">
        select id,
               ent_code,
               ent_name,
               out_put_code,
               out_put_name,
               pollutant_code,
               monitor_time,
               update_time,
               volume_flow,
               ph_value,
               an_avg_value,
               an_emissions,
               cod_avg_value,
               cod_emissions,
               no_value,
               no_emissions,
               tp_value,
               tp_emissions,
               tn_value,
               tn_emissions
        from t_data_waterout_hour_statistics
    </sql>

    <select id="selectTDataWateroutHourStatisticsList" parameterType="TDataWateroutHourStatistics"
            resultMap="TDataWateroutHourStatisticsResult">
        <include refid="selectTDataWateroutHourStatisticsVo"/>
        <where>
            <if test="entCode != null  and entCode != ''">and ent_code = #{entCode}</if>
            <if test="entName != null  and entName != ''">and ent_name like concat('%', #{entName}, '%')</if>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')
            </if>
            <if test="pollutantCode != null  and pollutantCode != ''">and pollutant_code = #{pollutantCode}</if>
            <if test="monitorTime != null ">and monitor_time = #{monitorTime}</if>
            <if test="volumeFlow != null  and volumeFlow != ''">and volume_flow = #{volumeFlow}</if>
            <if test="phValue != null  and phValue != ''">and ph_value = #{phValue}</if>
            <if test="anAvgValue != null  and anAvgValue != ''">and an_avg_value = #{anAvgValue}</if>
            <if test="anEmissions != null  and anEmissions != ''">and an_emissions = #{anEmissions}</if>
            <if test="codAvgValue != null  and codAvgValue != ''">and cod_avg_value = #{codAvgValue}</if>
            <if test="codEmissions != null  and codEmissions != ''">and cod_emissions = #{codEmissions}</if>
            <if test="noValue != null  and noValue != ''">and no_value = #{noValue}</if>
            <if test="noEmissions != null  and noEmissions != ''">and no_emissions = #{noEmissions}</if>
            <if test="tpValue != null  and tpValue != ''">and tp_value = #{tpValue}</if>
            <if test="tpEmissions != null  and tpEmissions != ''">and tp_emissions = #{tpEmissions}</if>
            <if test="tnValue != null  and tnValue != ''">and tn_value = #{tnValue}</if>
            <if test="tnEmissions != null  and tnEmissions != ''">and tn_emissions = #{tnEmissions}</if>
        </where>
    </select>

    <select id="selectTDataWateroutHourStatisticsById" parameterType="Long"
            resultMap="TDataWateroutHourStatisticsResult">
        <include refid="selectTDataWateroutHourStatisticsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTDataWateroutHourStatistics" parameterType="TDataWateroutHourStatistics" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_data_waterout_hour_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entCode != null">ent_code,</if>
            <if test="entName != null">ent_name,</if>
            <if test="outPutCode != null">out_put_code,</if>
            <if test="outPutName != null">out_put_name,</if>
            <if test="pollutantCode != null">pollutant_code,</if>
            <if test="monitorTime != null">monitor_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="volumeFlow != null">volume_flow,</if>
            <if test="phValue != null">ph_value,</if>
            <if test="anAvgValue != null">an_avg_value,</if>
            <if test="anEmissions != null">an_emissions,</if>
            <if test="codAvgValue != null">cod_avg_value,</if>
            <if test="codEmissions != null">cod_emissions,</if>
            <if test="noValue != null">no_value,</if>
            <if test="noEmissions != null">no_emissions,</if>
            <if test="tpValue != null">tp_value,</if>
            <if test="tpEmissions != null">tp_emissions,</if>
            <if test="tnValue != null">tn_value,</if>
            <if test="tnEmissions != null">tn_emissions,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entCode != null">#{entCode},</if>
            <if test="entName != null">#{entName},</if>
            <if test="outPutCode != null">#{outPutCode},</if>
            <if test="outPutName != null">#{outPutName},</if>
            <if test="pollutantCode != null">#{pollutantCode},</if>
            <if test="monitorTime != null">#{monitorTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="volumeFlow != null">#{volumeFlow},</if>
            <if test="phValue != null">#{phValue},</if>
            <if test="anAvgValue != null">#{anAvgValue},</if>
            <if test="anEmissions != null">#{anEmissions},</if>
            <if test="codAvgValue != null">#{codAvgValue},</if>
            <if test="codEmissions != null">#{codEmissions},</if>
            <if test="noValue != null">#{noValue},</if>
            <if test="noEmissions != null">#{noEmissions},</if>
            <if test="tpValue != null">#{tpValue},</if>
            <if test="tpEmissions != null">#{tpEmissions},</if>
            <if test="tnValue != null">#{tnValue},</if>
            <if test="tnEmissions != null">#{tnEmissions},</if>
        </trim>
    </insert>

    <update id="updateTDataWateroutHourStatistics" parameterType="TDataWateroutHourStatistics">
        update t_data_waterout_hour_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="entCode != null">ent_code = #{entCode},</if>
            <if test="entName != null">ent_name = #{entName},</if>
            <if test="outPutCode != null">out_put_code = #{outPutCode},</if>
            <if test="outPutName != null">out_put_name = #{outPutName},</if>
            <if test="pollutantCode != null">pollutant_code = #{pollutantCode},</if>
            <if test="monitorTime != null">monitor_time = #{monitorTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="volumeFlow != null">volume_flow = #{volumeFlow},</if>
            <if test="phValue != null">ph_value = #{phValue},</if>
            <if test="anAvgValue != null">an_avg_value = #{anAvgValue},</if>
            <if test="anEmissions != null">an_emissions = #{anEmissions},</if>
            <if test="codAvgValue != null">cod_avg_value = #{codAvgValue},</if>
            <if test="codEmissions != null">cod_emissions = #{codEmissions},</if>
            <if test="noValue != null">no_value = #{noValue},</if>
            <if test="noEmissions != null">no_emissions = #{noEmissions},</if>
            <if test="tpValue != null">tp_value = #{tpValue},</if>
            <if test="tpEmissions != null">tp_emissions = #{tpEmissions},</if>
            <if test="tnValue != null">tn_value = #{tnValue},</if>
            <if test="tnEmissions != null">tn_emissions = #{tnEmissions},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTDataWateroutHourStatisticsById" parameterType="Long">
        delete
        from t_data_waterout_hour_statistics
        where id = #{id}
    </delete>

    <delete id="deleteTDataWateroutHourStatisticsByIds" parameterType="String">
        delete from t_data_waterout_hour_statistics where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>