<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.statistics.mapper.TDataGasoutDayStatisticsMapper">

    <resultMap type="TDataGasoutDayStatistics" id="TDataGasoutDayStatisticsResult">
        <result property="id" column="id"/>
        <result property="entCode" column="ent_code"/>
        <result property="entName" column="ent_name"/>
        <result property="outPutCode" column="out_put_code"/>
        <result property="outPutName" column="out_put_name"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="volumeAvgFlow" column="volume_avg_flow"/>
        <result property="volumeTotalFlow" column="volume_total_flow"/>
        <result property="velocityFlow" column="velocity_flow"/>
        <result property="ycAvgValue" column="yc_avg_value"/>
        <result property="ycZsavgValue" column="yc_zsavg_value"/>
        <result property="ycEmissions" column="yc_emissions"/>
        <result property="ycIsAlarm" column="yc_is_alarm"/>
        <result property="so2AvgValue" column="so2_avg_value"/>
        <result property="so2ZsavgValue" column="so2_zsavg_value"/>
        <result property="so2Emissions" column="so2_emissions"/>
        <result property="so2IsAlarm" column="so2_is_alarm"/>
        <result property="noAvgValue" column="no_avg_value"/>
        <result property="noZsavgValue" column="no_zsavg_value"/>
        <result property="noEmissions" column="no_emissions"/>
        <result property="noSiAlarm" column="no_si_alarm"/>
        <result property="oxygenContent" column="oxygen_content"/>
        <result property="yqTemperature" column="yq_temperature"/>
        <result property="yqHumidity" column="yq_humidity"/>
        <result property="yqPressure" column="yq_pressure"/>
    </resultMap>

    <resultMap type="com.ruoyi.business.statistics.dto.TDataGasoutMonthStatistics" id="TDataGasoutMonthStatisticsResult">
        <result property="id" column="id"/>
        <result property="entCode" column="ent_code"/>
        <result property="entName" column="ent_name"/>
        <result property="outPutCode" column="out_put_code"/>
        <result property="outPutName" column="out_put_name"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="volumeAvgFlow" column="volume_avg_flow"/>
        <result property="volumeTotalFlow" column="volume_total_flow"/>
        <result property="velocityFlow" column="velocity_flow"/>
        <result property="ycAvgValue" column="yc_avg_value"/>
        <result property="ycZsavgValue" column="yc_zsavg_value"/>
        <result property="ycEmissions" column="yc_emissions"/>
        <result property="ycIsAlarm" column="yc_is_alarm"/>
        <result property="so2AvgValue" column="so2_avg_value"/>
        <result property="so2ZsavgValue" column="so2_zsavg_value"/>
        <result property="so2Emissions" column="so2_emissions"/>
        <result property="so2IsAlarm" column="so2_is_alarm"/>
        <result property="noAvgValue" column="no_avg_value"/>
        <result property="noZsavgValue" column="no_zsavg_value"/>
        <result property="noEmissions" column="no_emissions"/>
        <result property="noSiAlarm" column="no_si_alarm"/>
        <result property="oxygenContent" column="oxygen_content"/>
        <result property="yqTemperature" column="yq_temperature"/>
        <result property="yqHumidity" column="yq_humidity"/>
        <result property="yqPressure" column="yq_pressure"/>
    </resultMap>

    <sql id="selectTDataGasoutDayStatisticsVo">
        select id,
               ent_code,
               ent_name,
               out_put_code,
               out_put_name,
               monitor_time,
               update_time,
               volume_avg_flow,
               volume_total_flow,
               velocity_flow,
               yc_avg_value,
               yc_zsavg_value,
               yc_emissions,
               yc_is_alarm,
               so2_avg_value,
               so2_zsavg_value,
               so2_emissions,
               so2_is_alarm,
               no_avg_value,
               no_zsavg_value,
               no_emissions,
               no_si_alarm,
               oxygen_content,
               yq_temperature,
               yq_humidity,
               yq_pressure
        from t_data_gasout_day_statistics
    </sql>

    <select id="selectTDataGasoutDayStatisticsList" parameterType="TDataGasoutDayStatistics"
            resultMap="TDataGasoutDayStatisticsResult">
        <include refid="selectTDataGasoutDayStatisticsVo"/>
        <where>
            <!-- 非预警状态 -->
            <if test="entCode != null  and entCode != ''">and ent_code = #{entCode}</if>
            <if test="entName != null  and entName != ''">and ent_name like concat('%', #{entName}, '%')</if>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')
            </if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(#{params.beginTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(adddate(now(),-1),'%y%m%d')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(#{params.endTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(adddate(now(),1),'%y%m%d')
                </otherwise>
            </choose>
        </where>
        order by monitor_time desc
    </select>

    <select id="selectTDataGasoutDayStatisticsById" parameterType="Long" resultMap="TDataGasoutDayStatisticsResult">
        <include refid="selectTDataGasoutDayStatisticsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTDataGasoutDayStatistics" parameterType="TDataGasoutDayStatistics" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_data_gasout_day_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entCode != null">ent_code,</if>
            <if test="entName != null">ent_name,</if>
            <if test="outPutCode != null">out_put_code,</if>
            <if test="outPutName != null">out_put_name,</if>
            <if test="monitorTime != null">monitor_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="volumeAvgFlow != null">volume_avg_flow,</if>
            <if test="volumeTotalFlow != null">volume_total_flow,</if>
            <if test="velocityFlow != null">velocity_flow,</if>
            <if test="ycAvgValue != null">yc_avg_value,</if>
            <if test="ycZsavgValue != null">yc_zsavg_value,</if>
            <if test="ycEmissions != null">yc_emissions,</if>
            <if test="ycIsAlarm != null">yc_is_alarm,</if>
            <if test="so2AvgValue != null">so2_avg_value,</if>
            <if test="so2ZsavgValue != null">so2_zsavg_value,</if>
            <if test="so2Emissions != null">so2_emissions,</if>
            <if test="so2IsAlarm != null">so2_is_alarm,</if>
            <if test="noAvgValue != null">no_avg_value,</if>
            <if test="noZsavgValue != null">no_zsavg_value,</if>
            <if test="noEmissions != null">no_emissions,</if>
            <if test="noSiAlarm != null">no_si_alarm,</if>
            <if test="oxygenContent != null">oxygen_content,</if>
            <if test="yqTemperature != null">yq_temperature,</if>
            <if test="yqHumidity != null">yq_humidity,</if>
            <if test="yqPressure != null">yq_pressure,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entCode != null">#{entCode},</if>
            <if test="entName != null">#{entName},</if>
            <if test="outPutCode != null">#{outPutCode},</if>
            <if test="outPutName != null">#{outPutName},</if>
            <if test="monitorTime != null">#{monitorTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="volumeAvgFlow != null">#{volumeAvgFlow},</if>
            <if test="volumeTotalFlow != null">#{volumeTotalFlow},</if>
            <if test="velocityFlow != null">#{velocityFlow},</if>
            <if test="ycAvgValue != null">#{ycAvgValue},</if>
            <if test="ycZsavgValue != null">#{ycZsavgValue},</if>
            <if test="ycEmissions != null">#{ycEmissions},</if>
            <if test="ycIsAlarm != null">#{ycIsAlarm},</if>
            <if test="so2AvgValue != null">#{so2AvgValue},</if>
            <if test="so2ZsavgValue != null">#{so2ZsavgValue},</if>
            <if test="so2Emissions != null">#{so2Emissions},</if>
            <if test="so2IsAlarm != null">#{so2IsAlarm},</if>
            <if test="noAvgValue != null">#{noAvgValue},</if>
            <if test="noZsavgValue != null">#{noZsavgValue},</if>
            <if test="noEmissions != null">#{noEmissions},</if>
            <if test="noSiAlarm != null">#{noSiAlarm},</if>
            <if test="oxygenContent != null">#{oxygenContent},</if>
            <if test="yqTemperature != null">#{yqTemperature},</if>
            <if test="yqHumidity != null">#{yqHumidity},</if>
            <if test="yqPressure != null">#{yqPressure},</if>
        </trim>
    </insert>

    <update id="updateTDataGasoutDayStatistics" parameterType="TDataGasoutDayStatistics">
        update t_data_gasout_day_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="entCode != null">ent_code = #{entCode},</if>
            <if test="entName != null">ent_name = #{entName},</if>
            <if test="outPutCode != null">out_put_code = #{outPutCode},</if>
            <if test="outPutName != null">out_put_name = #{outPutName},</if>
            <if test="monitorTime != null">monitor_time = #{monitorTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="volumeAvgFlow != null">volume_avg_flow = #{volumeAvgFlow},</if>
            <if test="volumeTotalFlow != null">volume_total_flow = #{volumeTotalFlow},</if>
            <if test="velocityFlow != null">velocity_flow = #{velocityFlow},</if>
            <if test="ycAvgValue != null">yc_avg_value = #{ycAvgValue},</if>
            <if test="ycZsavgValue != null">yc_zsavg_value = #{ycZsavgValue},</if>
            <if test="ycEmissions != null">yc_emissions = #{ycEmissions},</if>
            <if test="ycIsAlarm != null">yc_is_alarm = #{ycIsAlarm},</if>
            <if test="so2AvgValue != null">so2_avg_value = #{so2AvgValue},</if>
            <if test="so2ZsavgValue != null">so2_zsavg_value = #{so2ZsavgValue},</if>
            <if test="so2Emissions != null">so2_emissions = #{so2Emissions},</if>
            <if test="so2IsAlarm != null">so2_is_alarm = #{so2IsAlarm},</if>
            <if test="noAvgValue != null">no_avg_value = #{noAvgValue},</if>
            <if test="noZsavgValue != null">no_zsavg_value = #{noZsavgValue},</if>
            <if test="noEmissions != null">no_emissions = #{noEmissions},</if>
            <if test="noSiAlarm != null">no_si_alarm = #{noSiAlarm},</if>
            <if test="oxygenContent != null">oxygen_content = #{oxygenContent},</if>
            <if test="yqTemperature != null">yq_temperature = #{yqTemperature},</if>
            <if test="yqHumidity != null">yq_humidity = #{yqHumidity},</if>
            <if test="yqPressure != null">yq_pressure = #{yqPressure},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTDataGasoutDayStatisticsById" parameterType="Long">
        delete
        from t_data_gasout_day_statistics
        where id = #{id}
    </delete>

    <delete id="deleteTDataGasoutDayStatisticsByIds" parameterType="String">
        delete from t_data_gasout_day_statistics where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!--废气排口-月统计数据列表-->
    <select id="selectTDataGasoutMonthStatisticsList" parameterType="TDataGasoutDayStatistics"
            resultMap="TDataGasoutMonthStatisticsResult">
        select date_format(monitor_time,'%Y-%m') monitor_time,
        ent_code,
        ent_name,
        out_put_code,
        out_put_name,
        SUM(volume_avg_flow),
        SUM(volume_total_flow),
        SUM(velocity_flow),
        SUM(yc_avg_value),
        SUM(yc_zsavg_value),
        SUM(yc_emissions),
        SUM(yc_is_alarm),
        SUM(so2_avg_value),
        SUM(so2_zsavg_value),
        SUM(so2_emissions),
        SUM(so2_is_alarm),
        SUM(no_avg_value),
        SUM(no_zsavg_value),
        SUM(no_emissions),
        SUM(no_si_alarm),
        SUM(oxygen_content),
        SUM(yq_temperature),
        SUM(yq_humidity),
        SUM(yq_pressure)
        from t_data_gasout_day_statistics
        <where>
            <!-- 非预警状态 -->
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%') </if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m') &gt;= date_format(now(),'%y%m')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m') &lt;= date_format(now(),'%y%m')
                </otherwise>
            </choose>
        </where>
        GROUP BY date_format(monitor_time,'%Y-%m'),ent_code, ent_name,out_put_code,out_put_name
        order by monitor_time desc
    </select>

    <!--废气排口-季度统计数据列表-->
    <select id="selectTDataGasoutQuarterStatisticsList" parameterType="TDataGasoutDayStatistics"
            resultMap="TDataGasoutDayStatisticsResult">
        <include refid="selectTDataGasoutDayStatisticsVo"/>
        <where>
            <!-- 非预警状态 -->
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%') </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by monitor_time desc
    </select>

    <!--废气排口-年统计数据列表-->
    <select id="selectTDataGasoutYearStatisticsList" parameterType="TDataGasoutDayStatistics"
            resultMap="TDataGasoutMonthStatisticsResult">
        select date_format(monitor_time,'%Y') monitor_time,
        ent_code,
        ent_name,
        out_put_code,
        out_put_name,
        SUM(volume_avg_flow),
        SUM(volume_total_flow),
        SUM(velocity_flow),
        SUM(yc_avg_value),
        SUM(yc_zsavg_value),
        SUM(yc_emissions),
        SUM(yc_is_alarm),
        SUM(so2_avg_value),
        SUM(so2_zsavg_value),
        SUM(so2_emissions),
        SUM(so2_is_alarm),
        SUM(no_avg_value),
        SUM(no_zsavg_value),
        SUM(no_emissions),
        SUM(no_si_alarm),
        SUM(oxygen_content),
        SUM(yq_temperature),
        SUM(yq_humidity),
        SUM(yq_pressure)
        from t_data_gasout_day_statistics
        <where>
            <!-- 非预警状态 -->
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%') </if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y') &gt;= date_format(now(),'%y')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y') &lt;= date_format(now(),'%y')
                </otherwise>
            </choose>
        </where>
        GROUP BY date_format(monitor_time,'%Y'),ent_code, ent_name,out_put_code,out_put_name
        order by monitor_time desc
    </select>

    <!--废气排口-分钟统计数据列表-->
    <select id="selectTDataGasoutMinuteOrRealStatisticsList" parameterType="TDataGasoutDayStatistics"
            resultMap="TDataGasoutMonthStatisticsResult">
        SELECT ent_code,ent_name,out_put_code,out_put_name,monitor_time,update_time,
        <if test="dataEnum.name == 'real'">
            SUM(IF(pollutant_name_cn='烟尘',rtd_value,0)) as yc_avg_value,
            SUM(IF(pollutant_name_cn='烟尘',zs_avg_value,0)) as yc_zsavg_value,
            SUM(IF(pollutant_name_cn='烟尘',cou_value,0)) as yc_emissions,
            SUM(IF(pollutant_name_cn='二氧化硫',rtd_value,0)) as so2_avg_value,
            SUM(IF(pollutant_name_cn='二氧化硫',zs_avg_value,0)) as so2_zsavg_value,
            SUM(IF(pollutant_name_cn='二氧化硫',cou_value,0)) as so2_emissions,
            SUM(IF(pollutant_name_cn='氮氧化物',rtd_value,0)) as no_avg_value,
            SUM(IF(pollutant_name_cn='氮氧化物',zs_avg_value,0)) as no_zsavg_value,
            SUM(IF(pollutant_name_cn='氮氧化物',cou_value,0)) as no_emissions,
            SUM(IF(pollutant_name_cn='氧气含量',rtd_value,0)) as oxygen_content,
            SUM(IF(pollutant_name_cn='烟气温度',rtd_value,0)) as yq_temperature,
            SUM(IF(pollutant_name_cn='烟气湿度',rtd_value,0)) as yq_humidity,
            SUM(IF(pollutant_name_cn='烟气压力',rtd_value,0)) as yq_pressure,
            SUM(IF(pollutant_name_cn='废气流量',avg_value,0)) as volume_avg_flow,
            SUM(IF(pollutant_name_cn='废气流量',cou_value,0)) as volume_total_flow,
            SUM(IF(pollutant_name_cn='烟气流速',rtd_value,0)) as velocity_flow
        </if>
        <if test="dataEnum.name == 'minute'">
            SUM(IF(pollutant_name_cn='烟尘',avg_value,0)) as yc_avg_value,
            SUM(IF(pollutant_name_cn='烟尘',zs_avg_value,0)) as yc_zsavg_value,
            SUM(IF(pollutant_name_cn='烟尘',cou_value,0)) as yc_emissions,
            SUM(IF(pollutant_name_cn='二氧化硫',avg_value,0)) as so2_avg_value,
            SUM(IF(pollutant_name_cn='二氧化硫',zs_avg_value,0)) as so2_zsavg_value,
            SUM(IF(pollutant_name_cn='二氧化硫',cou_value,0)) as so2_emissions,
            SUM(IF(pollutant_name_cn='氮氧化物',avg_value,0)) as no_avg_value,
            SUM(IF(pollutant_name_cn='氮氧化物',zs_avg_value,0)) as no_zsavg_value,
            SUM(IF(pollutant_name_cn='氮氧化物',cou_value,0)) as no_emissions,
            SUM(IF(pollutant_name_cn='氧气含量',avg_value,0)) as oxygen_content,
            SUM(IF(pollutant_name_cn='烟气温度',avg_value,0)) as yq_temperature,
            SUM(IF(pollutant_name_cn='烟气湿度',avg_value,0)) as yq_humidity,
            SUM(IF(pollutant_name_cn='烟气压力',avg_value,0)) as yq_pressure,
            SUM(IF(pollutant_name_cn='废气流量',avg_value,0)) as volume_avg_flow,
            SUM(IF(pollutant_name_cn='废气流量',cou_value,0)) as volume_total_flow,
            SUM(IF(pollutant_name_cn='烟气流速',avg_value,0)) as velocity_flow
        </if>
        from ${params.tableName}
        <where>
            <!-- 非预警状态 -->
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%') </if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(#{params.beginTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(now(),'%y%m%d')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(#{params.endTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(adddate(now(),1),'%y%m%d')
                </otherwise>
            </choose>
        </where>
        GROUP BY ent_code,ent_name,out_put_code,out_put_name,monitor_time,update_time
        order by monitor_time desc
    </select>

</mapper>