<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.statistics.mapper.TDataWateroutDayStatisticsMapper">

    <resultMap type="TDataWateroutDayStatistics" id="TDataWateroutDayStatisticsResult">
        <result property="id" column="id"/>
        <result property="entCode" column="ent_code"/>
        <result property="entName" column="ent_name"/>
        <result property="outPutCode" column="out_put_code"/>
        <result property="outPutName" column="out_put_name"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="volumeAvgFlow" column="volume_avg_flow"/>
        <result property="volumeTotalFlow" column="volume_total_flow"/>
        <result property="phValue" column="ph_value"/>
        <result property="phIsAlarm" column="ph_is_alarm"/>
        <result property="anAvgValue" column="an_avg_value"/>
        <result property="anEmissions" column="an_emissions"/>
        <result property="anIsAlarm" column="an_is_alarm"/>
        <result property="codAvgValue" column="cod_avg_value"/>
        <result property="codEmissions" column="cod_emissions"/>
        <result property="codIsAlarm" column="cod_is_alarm"/>
        <result property="noAvgValue" column="no_avg_value"/>
        <result property="noEmissions" column="no_emissions"/>
        <result property="noIsAlarm" column="no_is_alarm"/>
        <result property="tpAvgValue" column="tp_avg_value"/>
        <result property="tpEmissions" column="tp_emissions"/>
        <result property="tpIsAlarm" column="tp_is_alarm"/>
        <result property="tnAvgValue" column="tn_avg_value"/>
        <result property="tnEmissions" column="tn_emissions"/>
        <result property="tnIsAlarm" column="tn_is_alarm"/>
    </resultMap>

    <resultMap type="com.ruoyi.business.statistics.dto.TDataWateroutMonthStatistics" id="TDataWateroutMonthStatisticsResult">
        <result property="id" column="id"/>
        <result property="entCode" column="ent_code"/>
        <result property="entName" column="ent_name"/>
        <result property="outPutCode" column="out_put_code"/>
        <result property="outPutName" column="out_put_name"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="volumeAvgFlow" column="volume_avg_flow"/>
        <result property="volumeTotalFlow" column="volume_total_flow"/>
        <result property="phValue" column="ph_value"/>
        <result property="phIsAlarm" column="ph_is_alarm"/>
        <result property="anAvgValue" column="an_avg_value"/>
        <result property="anEmissions" column="an_emissions"/>
        <result property="anIsAlarm" column="an_is_alarm"/>
        <result property="codAvgValue" column="cod_avg_value"/>
        <result property="codEmissions" column="cod_emissions"/>
        <result property="codIsAlarm" column="cod_is_alarm"/>
        <result property="noAvgValue" column="no_avg_value"/>
        <result property="noEmissions" column="no_emissions"/>
        <result property="noIsAlarm" column="no_is_alarm"/>
        <result property="tpAvgValue" column="tp_avg_value"/>
        <result property="tpEmissions" column="tp_emissions"/>
        <result property="tpIsAlarm" column="tp_is_alarm"/>
        <result property="tnAvgValue" column="tn_avg_value"/>
        <result property="tnEmissions" column="tn_emissions"/>
        <result property="tnIsAlarm" column="tn_is_alarm"/>
    </resultMap>
    <sql id="selectTDataWateroutDayStatisticsVo">
        select id,
               ent_code,
               ent_name,
               out_put_code,
               out_put_name,
               monitor_time,
               update_time,
               volume_avg_flow,
               volume_total_flow,
               ph_value,
               ph_is_alarm,
               an_avg_value,
               an_emissions,
               an_is_alarm,
               cod_avg_value,
               cod_emissions,
               cod_is_alarm,
               no_avg_value,
               no_emissions,
               no_is_alarm,
               tp_avg_value,
               tp_emissions,
               tp_is_alarm,
               tn_avg_value,
               tn_emissions,
               tn_is_alarm
        from t_data_waterout_day_statistics
    </sql>

    <select id="selectTDataWateroutDayStatisticsList" parameterType="TDataWateroutDayStatistics"
            resultMap="TDataWateroutDayStatisticsResult">
        <include refid="selectTDataWateroutDayStatisticsVo"/>
        <where>
            <if test="entCode != null  and entCode != ''">and ent_code = #{entCode}</if>
            <if test="entName != null  and entName != ''">and ent_name like concat('%', #{entName}, '%')</if>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')
            </if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(#{params.beginTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(adddate(now(),-1),'%y%m%d')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(#{params.endTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(adddate(now(),1),'%y%m%d')
                </otherwise>
            </choose>
        </where>
        order by monitor_time desc
    </select>

    <select id="selectTDataWateroutDayStatisticsById" parameterType="Long" resultMap="TDataWateroutDayStatisticsResult">
        <include refid="selectTDataWateroutDayStatisticsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTDataWateroutDayStatistics" parameterType="TDataWateroutDayStatistics" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_data_waterout_day_statistics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entCode != null">ent_code,</if>
            <if test="entName != null">ent_name,</if>
            <if test="outPutCode != null">out_put_code,</if>
            <if test="outPutName != null">out_put_name,</if>
            <if test="monitorTime != null">monitor_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="volumeAvgFlow != null">volume_avg_flow,</if>
            <if test="volumeTotalFlow != null">volume_total_flow,</if>
            <if test="phValue != null">ph_value,</if>
            <if test="phIsAlarm != null">ph_is_alarm,</if>
            <if test="anAvgValue != null">an_avg_value,</if>
            <if test="anEmissions != null">an_emissions,</if>
            <if test="anIsAlarm != null">an_is_alarm,</if>
            <if test="codAvgValue != null">cod_avg_value,</if>
            <if test="codEmissions != null">cod_emissions,</if>
            <if test="codIsAlarm != null">cod_is_alarm,</if>
            <if test="noAvgValue != null">no_avg_value,</if>
            <if test="noEmissions != null">no_emissions,</if>
            <if test="noIsAlarm != null">no_is_alarm,</if>
            <if test="tpAvgValue != null">tp_avg_value,</if>
            <if test="tpEmissions != null">tp_emissions,</if>
            <if test="tpIsAlarm != null">tp_is_alarm,</if>
            <if test="tnAvgValue != null">tn_avg_value,</if>
            <if test="tnEmissions != null">tn_emissions,</if>
            <if test="tnIsAlarm != null">tn_is_alarm,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entCode != null">#{entCode},</if>
            <if test="entName != null">#{entName},</if>
            <if test="outPutCode != null">#{outPutCode},</if>
            <if test="outPutName != null">#{outPutName},</if>
            <if test="monitorTime != null">#{monitorTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="volumeAvgFlow != null">#{volumeAvgFlow},</if>
            <if test="volumeTotalFlow != null">#{volumeTotalFlow},</if>
            <if test="phValue != null">#{phValue},</if>
            <if test="phIsAlarm != null">#{phIsAlarm},</if>
            <if test="anAvgValue != null">#{anAvgValue},</if>
            <if test="anEmissions != null">#{anEmissions},</if>
            <if test="anIsAlarm != null">#{anIsAlarm},</if>
            <if test="codAvgValue != null">#{codAvgValue},</if>
            <if test="codEmissions != null">#{codEmissions},</if>
            <if test="codIsAlarm != null">#{codIsAlarm},</if>
            <if test="noAvgValue != null">#{noAvgValue},</if>
            <if test="noEmissions != null">#{noEmissions},</if>
            <if test="noIsAlarm != null">#{noIsAlarm},</if>
            <if test="tpAvgValue != null">#{tpAvgValue},</if>
            <if test="tpEmissions != null">#{tpEmissions},</if>
            <if test="tpIsAlarm != null">#{tpIsAlarm},</if>
            <if test="tnAvgValue != null">#{tnAvgValue},</if>
            <if test="tnEmissions != null">#{tnEmissions},</if>
            <if test="tnIsAlarm != null">#{tnIsAlarm},</if>
        </trim>
    </insert>

    <update id="updateTDataWateroutDayStatistics" parameterType="TDataWateroutDayStatistics">
        update t_data_waterout_day_statistics
        <trim prefix="SET" suffixOverrides=",">
            <if test="entCode != null">ent_code = #{entCode},</if>
            <if test="entName != null">ent_name = #{entName},</if>
            <if test="outPutCode != null">out_put_code = #{outPutCode},</if>
            <if test="outPutName != null">out_put_name = #{outPutName},</if>
            <if test="monitorTime != null">monitor_time = #{monitorTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="volumeAvgFlow != null">volume_avg_flow = #{volumeAvgFlow},</if>
            <if test="volumeTotalFlow != null">volume_total_flow = #{volumeTotalFlow},</if>
            <if test="phValue != null">ph_value = #{phValue},</if>
            <if test="phIsAlarm != null">ph_is_alarm = #{phIsAlarm},</if>
            <if test="anAvgValue != null">an_avg_value = #{anAvgValue},</if>
            <if test="anEmissions != null">an_emissions = #{anEmissions},</if>
            <if test="anIsAlarm != null">an_is_alarm = #{anIsAlarm},</if>
            <if test="codAvgValue != null">cod_avg_value = #{codAvgValue},</if>
            <if test="codEmissions != null">cod_emissions = #{codEmissions},</if>
            <if test="codIsAlarm != null">cod_is_alarm = #{codIsAlarm},</if>
            <if test="noAvgValue != null">no_avg_value = #{noAvgValue},</if>
            <if test="noEmissions != null">no_emissions = #{noEmissions},</if>
            <if test="noIsAlarm != null">no_is_alarm = #{noIsAlarm},</if>
            <if test="tpAvgValue != null">tp_avg_value = #{tpAvgValue},</if>
            <if test="tpEmissions != null">tp_emissions = #{tpEmissions},</if>
            <if test="tpIsAlarm != null">tp_is_alarm = #{tpIsAlarm},</if>
            <if test="tnAvgValue != null">tn_avg_value = #{tnAvgValue},</if>
            <if test="tnEmissions != null">tn_emissions = #{tnEmissions},</if>
            <if test="tnIsAlarm != null">tn_is_alarm = #{tnIsAlarm},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTDataWateroutDayStatisticsById" parameterType="Long">
        delete
        from t_data_waterout_day_statistics
        where id = #{id}
    </delete>

    <delete id="deleteTDataWateroutDayStatisticsByIds" parameterType="String">
        delete from t_data_waterout_day_statistics where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 废水排口-月统计数据列表 -->
    <select id="selectTDataWateroutMonthStatisticsList" parameterType="TDataWateroutDayStatistics"
            resultMap="TDataWateroutMonthStatisticsResult">
        select  date_format(monitor_time,'%Y-%m') monitor_time,
        ent_code,
        ent_name,
        out_put_code,
        out_put_name,
        SUM(volume_avg_flow),
        SUM(volume_total_flow),
        SUM(ph_value),
        SUM(ph_is_alarm),
        SUM(an_avg_value),
        SUM(an_emissions),
        SUM(an_is_alarm),
        SUM(cod_avg_value),
        SUM(cod_emissions),
        SUM(cod_is_alarm),
        SUM(no_avg_value),
        SUM(no_emissions),
        SUM(no_is_alarm),
        SUM(tp_avg_value),
        SUM(tp_emissions),
        SUM(tp_is_alarm),
        SUM(tn_avg_value),
        SUM(tn_emissions),
        SUM(tn_is_alarm)
        from t_data_waterout_day_statistics
        <where>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')</if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m') &gt;= date_format(now(),'%y%m')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m') &lt;= date_format(now(),'%y%m')
                </otherwise>
            </choose>
        </where>
        GROUP BY date_format(monitor_time,'%Y-%m'),ent_code, ent_name,out_put_code,out_put_name
        order by monitor_time desc
    </select>
    <!-- 废水排口-季度统计数据列表 -->
    <select id="selectTDataWateroutQuarterStatisticsList" parameterType="TDataWateroutDayStatistics"
            resultMap="TDataWateroutDayStatisticsResult">
        select  date_format(monitor_time,'%Y') monitor_time,
        ent_code,
        ent_name,
        out_put_code,
        out_put_name,
        SUM(volume_avg_flow),
        SUM(volume_total_flow),
        SUM(ph_value),
        SUM(ph_is_alarm),
        SUM(an_avg_value),
        SUM(an_emissions),
        SUM(an_is_alarm),
        SUM(cod_avg_value),
        SUM(cod_emissions),
        SUM(cod_is_alarm),
        SUM(no_avg_value),
        SUM(no_emissions),
        SUM(no_is_alarm),
        SUM(tp_avg_value),
        SUM(tp_emissions),
        SUM(tp_is_alarm),
        SUM(tn_avg_value),
        SUM(tn_emissions),
        SUM(tn_is_alarm)
        from t_data_waterout_day_statistics
        <where>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        GROUP BY date_format(monitor_time,'%Y'),ent_code, ent_name,out_put_code,out_put_name
        order by monitor_time desc
    </select>
    <!-- 废水排口-年度统计数据列表 -->
    <select id="selectTDataWateroutYearStatisticsList" parameterType="TDataWateroutDayStatistics"
            resultMap="TDataWateroutDayStatisticsResult">
        select  date_format(monitor_time,'%Y') monitor_time,
        ent_code,
        ent_name,
        out_put_code,
        out_put_name,
        SUM(volume_avg_flow),
        SUM(volume_total_flow),
        SUM(ph_value),
        SUM(ph_is_alarm),
        SUM(an_avg_value),
        SUM(an_emissions),
        SUM(an_is_alarm),
        SUM(cod_avg_value),
        SUM(cod_emissions),
        SUM(cod_is_alarm),
        SUM(no_avg_value),
        SUM(no_emissions),
        SUM(no_is_alarm),
        SUM(tp_avg_value),
        SUM(tp_emissions),
        SUM(tp_is_alarm),
        SUM(tn_avg_value),
        SUM(tn_emissions),
        SUM(tn_is_alarm)
        from t_data_waterout_day_statistics
        <where>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')</if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y') &gt;= date_format(now(),'%y')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y') &lt;= date_format(now(),'%y')
                </otherwise>
            </choose>
        </where>
        GROUP BY date_format(monitor_time,'%Y'),ent_code, ent_name,out_put_code,out_put_name
        order by monitor_time desc
    </select>

    <!-- 废水排口-分钟和实时统计数据列表 -->
    <select id="selectTDataWateroutMinuteOrRealStatisticsList" parameterType="TDataWateroutDayStatistics"
            resultMap="TDataWateroutDayStatisticsResult">
        SELECT ent_code,ent_name,out_put_code,out_put_name,monitor_time,update_time,

        <if test="dataEnum.name == 'real'">
            SUM(IF(pollutant_name_cn='pH值 ',rtd_value,0)) as ph_value,
            SUM(IF(pollutant_name_cn='氨氮',rtd_value,0)) as an_avg_value,
            SUM(IF(pollutant_name_cn='氨氮',cou_value,0)) as an_emissions,
            SUM(IF(pollutant_name_cn='化学需氧量',rtd_value,0)) as cod_avg_value,
            SUM(IF(pollutant_name_cn='化学需氧量',cou_value,0)) as cod_emissions,
            SUM(IF(pollutant_name_cn='总氮',rtd_value,0)) as tn_avg_value,
            SUM(IF(pollutant_name_cn='总氮',cou_value,0)) as tn_emissions,
            SUM(IF(pollutant_name_cn='总磷',rtd_value,0)) as tp_avg_value,
            SUM(IF(pollutant_name_cn='总磷',cou_value,0)) as tp_emissions,
            SUM(IF(pollutant_name_cn='污水流量',rtd_value,0)) as volume_avg_flow,
            SUM(IF(pollutant_name_cn='污水流量',cou_value,0)) as volume_total_flow
        </if>
        <if test="dataEnum.name == 'minute'">
            SUM(IF(pollutant_name_cn='pH值 ',avg_value,0)) as ph_value,
            SUM(IF(pollutant_name_cn='氨氮',avg_value,0)) as an_avg_value,
            SUM(IF(pollutant_name_cn='氨氮',cou_value,0)) as an_emissions,
            SUM(IF(pollutant_name_cn='化学需氧量',avg_value,0)) as cod_avg_value,
            SUM(IF(pollutant_name_cn='化学需氧量',cou_value,0)) as cod_emissions,
            SUM(IF(pollutant_name_cn='总氮',avg_value,0)) as tn_avg_value,
            SUM(IF(pollutant_name_cn='总氮',cou_value,0)) as tn_emissions,
            SUM(IF(pollutant_name_cn='总磷',avg_value,0)) as tp_avg_value,
            SUM(IF(pollutant_name_cn='总磷',cou_value,0)) as tp_emissions,
            SUM(IF(pollutant_name_cn='污水流量',avg_value,0)) as volume_avg_flow,
            SUM(IF(pollutant_name_cn='污水流量',cou_value,0)) as volume_total_flow
        </if>

        from ${params.tableName}
        <where>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')</if>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(#{params.beginTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &gt;= date_format(now(),'%y%m%d')
                </otherwise>
            </choose>
            <choose>
                <when test="params.endTime != null and params.endTime != ''">
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(#{params.endTime},'%y%m%d %H:%i:%s')
                </when>
                <otherwise>
                    and date_format(monitor_time,'%y%m%d %H:%i:%s') &lt;= date_format(adddate(now(),1),'%y%m%d')
                </otherwise>
            </choose>
        </where>
        GROUP BY ent_code,ent_name,out_put_code,out_put_name,monitor_time,update_time
        order by  monitor_time desc
    </select>
</mapper>