<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.statistics.mapper.TDataGasOutUnDayStatisticsMapper">

    <resultMap type="com.ruoyi.business.statistics.dto.PollutantInfo" id="pollutantInfoResult">
        <result property="pollutantCode" column="pollutant_code"/>
        <result property="pollutantNameCn" column="pollutant_name_cn"/>
        <result property="pollutantUnitCn" column="pollutant_unit_cn"/>
        <result property="pollutantNameEn" column="pollutant_name_en"/>
        <result property="pollutantUnitEn" column="pollutant_unit_en"/>
    </resultMap>

    <!-- 获取排口的污染物列表 -->
    <select id="selectPollutantCodes" resultMap="pollutantInfoResult">
        SELECT
            u.pollutant_code,
            c.pollutant_name_cn,
            c.pollutant_unit_cn,
            c.pollutant_name_en,
            c.pollutant_unit_en
        FROM
            t_bas_gasoutput_pollutant_unorganized u
        LEFT JOIN
            t_bas_pollutant_code c
        ON
            c.pollutant_code = u.pollutant_code
        WHERE
            ent_code = #{entCode} AND out_put_code = #{outPutCode}
        ORDER BY
            u.pollutant_sort
        DESC
    </select>

    <!-- 获取污染物统计数据（方案有待优化） -->
    <select id="selectTDataGasOutUnStatisticsList"
            parameterType="com.ruoyi.business.onlineMonitoring.dto.GasOutUnDTO"
            resultType="java.util.Map">
        SELECT
            <if test="dataEnum.name == 'real'">
                DATE_FORMAT(monitor_time, '%Y-%m-%d %H:%i:%s') as monitor_time2
            </if>
            <if test="dataEnum.name == 'minute'">
                DATE_FORMAT(monitor_time, '%Y-%m-%d %H:%i') as monitor_time2
            </if>
            <if test="dataEnum.name == 'hour'">
                DATE_FORMAT(monitor_time, '%Y-%m-%d %H') as monitor_time2
            </if>
            <if test="dataEnum.name == 'day'">
                DATE_FORMAT(monitor_time, '%Y-%m-%d') as monitor_time2
            </if>
            <if test="dataEnum.name == 'month'">
                DATE_FORMAT(monitor_time, '%Y-%m') as monitor_time2
            </if>
            <if test="dataEnum.name == 'year'">
                DATE_FORMAT(monitor_time, '%Y') as monitor_time2
            </if>
            <foreach collection="codes" item="code">
                , SUM(IF(pollutant_code=#{code}, avg_value, 0)) as ${code}
            </foreach>
        FROM ${params.tableName}
        <where>
            <choose>
                <when test="params.beginTime != null and params.beginTime != ''">
                    <choose>
                        <when test="params.endTime != null and params.endTime != ''">
                            AND monitor_time BETWEEN #{params.beginTime} AND #{params.endTime}
                        </when>
                        <otherwise>
                            AND monitor_time &gt;= #{params.beginTime}
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <if test="params.endTime != null and params.endTime != ''">
                        AND monitor_time &lt;= #{params.endTime}
                    </if>
                </otherwise>
            </choose>
        </where>
        GROUP BY monitor_time2
        ORDER BY monitor_time2 DESC
    </select>
</mapper>