<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.statisticsAlarm.mapper.VOutPutHourStatisticsMapper">
    <resultMap type="VOutPutHourStatistics" id="VOutPutHourStatisticsResult">
        <result property="entName" column="ent_name"/>
        <result property="entCode" column="ent_code"/>
        <result property="outPutCode" column="out_put_code"/>
        <result property="outPutName" column="out_put_name"/>
        <result property="monitorTime" column="monitor_time"/>
        <result property="outPutType" column="out_put_type"/>
        <result property="pollutantNameCn" column="pollutant_name_cn"/>
        <result property="alarm" column="alarm"/>

        <result property="monitorTimeDate" column="monitor_time_date"/>
        <result property="monitorTimeHour" column="monitor_time_hour"/>
    </resultMap>

    <resultMap type="com.ruoyi.business.statisticsAlarm.dto.DataMissingDto" id="DataMissingDtoResult">
        <result property="outPutName" column="out_put_name"/>
        <result property="monitorTime" column="monitorTime"/>
        <result property="missingTime" column="missingTime"/>
    </resultMap>

    <sql id="selectVOutPutHourStatisticsVo">
        select ent_name,
               ent_code,
               out_put_code,
               out_put_name,
               monitor_time,
               out_put_type,
               pollutant_name_cn,
               alarm
        from v_out_put_hour_statistics
    </sql>

    <select id="selectVOutPutHourStatisticsList" parameterType="VOutPutHourStatistics"
            resultMap="VOutPutHourStatisticsResult">
        <include refid="selectVOutPutHourStatisticsVo"/>
        <where>
            <if test="entName != null  and entName != ''">and ent_name like concat('%', #{entName}, '%')</if>
            <if test="entCode != null  and entCode != ''">and ent_code = #{entCode}</if>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="outPutType != null  and outPutType != ''">and out_put_type = #{outPutType}</if>
            <if test="pollutantNameCn != null  and pollutantNameCn != ''">and pollutant_name_cn = #{pollutantNameCn}
            </if>
            <!-- 根据所属企业数据范围过滤 -->
            <if test="params.dataEntScope != null and params.dataEntScope != ''">
                ${params.dataEntScope}
            </if>

            and alarm in (1, 2, 3)
        </where>
    </select>

    <select id="selectVOutPutHourStatisticsListV2" parameterType="VOutPutHourStatistics"
            resultMap="VOutPutHourStatisticsResult">
        SELECT
        tmp.ent_name,
        tmp.ent_code,
        tmp.out_put_type,
        tmp.out_put_name,
        tmp.out_put_code,
        tmp.monitor_time_date,
        tmp.pollutant_name_cn,
        tmp.alarm,
        GROUP_CONCAT(tmp.monitor_time_hour SEPARATOR ',') AS monitor_time_hour
        FROM (
        SELECT
        ent_name,
        ent_code,
        out_put_type,
        out_put_name,
        out_put_code,
        DATE_FORMAT(monitor_time, '%Y-%m-%d') AS monitor_time_date,
        DATE_FORMAT(monitor_time, '%H') AS monitor_time_hour,
        pollutant_name_cn,
        alarm ,monitor_time
        FROM
        v_out_put_hour_statistics
        WHERE
        alarm IN (1, 2, 3, 4, 5)
        ) tmp
        <where>
            <if test="entName != null  and entName != ''">and ent_name like concat('%', #{entName}, '%')</if>
            <if test="entCode != null  and entCode != ''">and ent_code = #{entCode}</if>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="outPutType != null  and outPutType != ''">and out_put_type = #{outPutType}</if>
            <if test="pollutantNameCn != null  and pollutantNameCn != ''">and pollutant_name_cn = #{pollutantNameCn}
            </if>
            <!-- 根据所属企业数据范围过滤 -->
            <if test="params.dataEntScope != null and params.dataEntScope != ''">
                ${params.dataEntScope}
            </if>
            GROUP BY
            tmp.ent_name,
            tmp.ent_code,
            tmp.out_put_type,
            tmp.out_put_name,
            tmp.out_put_code,
            tmp.monitor_time_date,
            tmp.pollutant_name_cn,
            tmp.alarm
            ORDER BY tmp.monitor_time_date desc
        </where>
    </select>






    <select id="selectVOutPutHourEmissionsList" parameterType="VOutPutHourStatistics"
            resultMap="VOutPutHourStatisticsResult">
        <include refid="selectVOutPutHourStatisticsVo"/>
        <where>
            <if test="entName != null  and entName != ''">and ent_name like concat('%', #{entName}, '%')</if>
            <if test="entCode != null  and entCode != ''">and ent_code = #{entCode}</if>
            <if test="outPutCode != null  and outPutCode != ''">and out_put_code = #{outPutCode}</if>
            <if test="outPutName != null  and outPutName != ''">and out_put_name like concat('%', #{outPutName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
            <if test="outPutType != null  and outPutType != ''">and out_put_type = #{outPutType}</if>
            <if test="pollutantNameCn != null  and pollutantNameCn != ''">and pollutant_name_cn = #{pollutantNameCn}
            </if>
            <!-- 根据所属企业数据范围过滤 -->
            <if test="params.dataEntScope != null and params.dataEntScope != ''">
                ${params.dataEntScope}
            </if>

            and alarm in (4, 5, 6)
        </where>
    </select>

    <select id="selectVOutPutHourStatisticsByEntName" parameterType="String" resultMap="VOutPutHourStatisticsResult">
        <include refid="selectVOutPutHourStatisticsVo"/>
        where ent_name = #{entName}
    </select>

    <select id="selectDataMissingList" parameterType="com.ruoyi.business.statisticsAlarm.dto.DataMissingDto"
            resultMap="DataMissingDtoResult">
        select tmp.out_put_name,date_format(tmp.tday, '%Y-%m-%d' ) monitorTime,concat(group_concat( date_format( tmp.tday, '%H' ) order by date_format( tmp.tday, '%H' ) SEPARATOR '时、' ),'时')  missingTime
        from ( select a.out_put_name,a.tday, ifnull(b.num, -1) as num from ( ${params.sqlStr} ) as a
        LEFT JOIN
        (
        SELECT v.out_put_name,date_format( monitor_time, '%Y-%m-%d %H' ) monitor_time ,count(1) AS num FROM (SELECT
        v0.out_put_code,v0.out_put_name,v0.monitor_time FROM v_out_put_hour_statistics v0
        <where>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(monitor_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(monitor_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
          GROUP BY  v0.out_put_code,v0.out_put_name,v0.monitor_time) v
        GROUP BY v.out_put_name,monitor_time
        ) b ON a.out_put_name=b.out_put_name and a.tday= b.monitor_time
        ) tmp where tmp.num = -1 GROUP BY tmp.out_put_name,monitorTime
    </select>

    <select id="selectVOutPutHourStatisticsByEntCode" parameterType="String" resultType="java.lang.String">
        select out_put_name from v_out_put_hour_statistics
        <where>
             <if test="entCode != null and entCode != ''">
                and ent_code = #{entCode}
            </if>
        </where>
        group by out_put_name
    </select>

</mapper>